In [1]:
print("Hello \
      Python")

Hello       Python

In [6]:
print("""/\_/\  (
( ^.^ ) _)
   \"/  (
 ( | | )
(__d b__)""")

/\_/\  (
( ^.^ ) _)
   "/  (
 ( | | )
(__d b__)

In [7]:
"""LetsUpgrade Python Batch 6."""

'LetsUpgrade Python Batch 6.'

In [9]:
a="""Hello"""
print(a)

Hello

In [10]:
print("Python's World.")

Python's World.

In [11]:
print("Hello\tWorld")

Hello	World

In [12]:
print("Hello\nWorld")

Hello
World

In [14]:
print('Python\'s World.')

Python's World.

In [15]:
name="ABC"
marks=80
age=30
print("The name of person is:",name,", marks is:",marks,", age is:",age)

The name of person is: ABC , marks is: 80 , age is: 30

In [17]:
name="ABC"
marks=80.236785
age=30
print("The name of person is: %s, marks is: %f, age is: %d"%(name,marks,age))

The name of person is: ABC, marks is: 80.236785, age is: 30

In [20]:
name="ABC"
marks=80.236785
age=30
print("The name of person is: %s, marks is: %f, age is: %d"%(name,marks,age))

The name of person is: ABC, marks is: 80.236785, age is: 30

In [22]:
name="ABC"
marks=80.236785
age=30
print(f"The name of person is: {name}, marks is: {marks}, age is: {age}")

The name of person is: ABC, marks is: 80.236785, age is: 30

In [25]:
x=y=z=20
a=10
print(x)
print("Ram Address of X is: ",id(x),", Y is:",id(y),", Z is:",id(z))
print("Ram address of A is:",id(a))
del x
print("Ram Address of Y is:",id(y),", Z is:",id(z))

20
Ram Address of X is:  140711492232176 , Y is: 140711492232176 , Z is: 140711492232176
Ram address of A is: 140711492231856
Ram Address of Y is: 140711492232176 , Z is: 140711492232176

In [26]:
6**6

46656

In [27]:
a=10
b=20
a==b

False

In [28]:
a=10
b=10
a==b

True

In [32]:
a=10
b=10
a>b

False

In [31]:
a=10
c=20
c>a

True

In [33]:
a!=c

True

In [35]:
a=10
b=10
a**=b
print(a)

10000000000

In [36]:
a=50
b=1
a|b

51

In [37]:
bin(a)

'0b110010'

In [38]:
a&b

0

In [40]:
~a

-51

In [42]:
a=50
b=10
a^b

56

In [43]:
a<<b

51200

In [44]:
a>>b

0

In [47]:
s="String"
"t" in s

True

In [48]:
s="String"
"a" in s

False

In [49]:
s="String"
"a" not in s

True

In [50]:
a=10
b=10
a is b

True

In [51]:
a is not b

False

In [53]:
a=257
b=257
a is b
# two same variables with values between -5 to 256 are allocated same memory.
# two same variables with values except range -5 to 256 are allocated different memory.

False

In [54]:
10+10/20*4

12.0